{% extends "pages.html" %}

{% block page_name %}Auction view{% endblock %}

{% block content %}

<table>
	<tr>
		<td align="right"><b>Name:</b></td>
		<td>{{ auction.product.name }}</td>
	</tr>
	<tr>
		<td align="right"><b>Current price:</b></td>
		<td>{{ auction.price }}</td>
	</tr>
	<tr>
		<td align="right"><b>Desc:</b></td>
		<td>{{ auction.product.desc }}</td>
	</tr>
	<tr>
		<td><b>Image:</b></td>
		<td><img src="{{ MEDIA_URL }}{{ auction.product.image }}" style="border:2px solid #ffffff;"/></td>
	</tr>
	<tr>
		<td><b><a href="/makebid/{{ auction.id }}/">Make Bid</a></b></td>
	</tr>
</table>



{% endblock %}