<title></title>
<body>
<table class="mytable" style="width:100%;">
	<thead>
		<tr align="center" style="text-align:center;background-color:#999999;color:#FFFFFF;">
			<td style="padding:10px;">Product name</td>
			<td style="padding:10px;">Price</td>
			<td style="padding:10px;">Time left</td>
			<td style="padding:10px;">Time delta</td>
			<td style="padding:10px;">&nbsp;</td>
		</tr>
	</thead>
	<tbody>
	{% for auction in auctions.object_list %}
		<tr>
			<td>
				<a href="/products/{{ auction.product.id }}/" >{{ auction.product.name }}</a>
			</td>
			<td>
				{{ auction.price }}
			</td>
			<td>
				{{ auction.time_left }}
			</td>
			<td>
				{{ auction.time_delta }}
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
<div class="pagination" align="center" style="font-size:16px;">
    <span class="step-links">
        {% if auctions.has_previous %}
            <a href="?page={{ auctions.previous_page_number }}">&lt;&lt;</a>
        {% endif %}

        <span class="current">
            Page {{ auctions.number }} of {{ auctions.paginator.num_pages }}.
        </span>

        {% if auctions.has_next %}
            <a href="?page={{ auctions.next_page_number }}">&gt;&gt;</a>
        {% endif %}
    </span>
</div>
</body>