{% extends "main.html" %}

{% block content %}
<script type="text/javascript">
	var h_sum = -1;
	function aj_upd()
	{
		var req_url = "/aj_update_main";
			$.getJSON(req_url,function(data)
			{
				if (h_sum != -1 && h_sum != data["id_hash_sum"])
				{
					h_sum = data["id_hash_sum"];
					window.location = "/";
				}
				else
				{
					h_sum = data["id_hash_sum"];
					var i = 0;
					for(price_num in data["prices_array"])
					{
						var id_str = "#div_name_price_" + i;
						var htmlstr = "" + data["products_array"][price_num] + " - $" + data["prices_array"][price_num];
						$(id_str).html(htmlstr);
						id_str = "#time_left_" + i;
						$(id_str).html(data["time_left_array"][price_num]);
						i++;
					}
				}
			});
	}
	setInterval(aj_upd, 1000);
	
</script>
<table>
	<tr>
		{% for auction in auctions %}
			<td>
				<div class="art-block">
		            <div class="art-block-tl"></div>
		            <div class="art-block-tr"></div>
		            <div class="art-block-bl"></div>
		            <div class="art-block-br"></div>
		            <div class="art-block-tc"></div>
		            <div class="art-block-bc"></div>
		            <div class="art-block-cl"></div>
		            <div class="art-block-cr"></div>
		            <div class="art-block-cc"></div>
		            <div class="art-block-body">
		                        <div class="art-blockheader">
		                            <div class="l"></div>
		                            <div class="r"></div>
		                             <div class="t" style="color:white;" id="div_name_price_{{ forloop.counter0 }}">{{ auction.product.name }} - ${{ auction.price }}</div>
		                        </div>
		                        <div class="art-blockcontent">
		                            <div class="art-blockcontent-tl"></div>
		                            <div class="art-blockcontent-tr"></div>
		                            <div class="art-blockcontent-bl"></div>
		                            <div class="art-blockcontent-br"></div>
		                            <div class="art-blockcontent-tc"></div>
		                            <div class="art-blockcontent-bc"></div>
		                            <div class="art-blockcontent-cl"></div>
		                            <div class="art-blockcontent-cr"></div>
		                            <div class="art-blockcontent-cc"></div>
		                            <div class="art-blockcontent-body">
										<div style="background-color:white;text-align:center;">
											<img src="{{ MEDIA_URL }}{{ auction.product.preview_image }}"
										</div>
										<h3 style="display:block;text-align:center;" id="time_left_{{ forloop.counter0 }}">{{ auction.time_left }}</h3>
		                        		<div align="center">
		                        			<a href="makebid/{{ auction.id }}/" class="art-button"> Make bid </a>
		                        		</div>
										<div class="cleared"></div>
		                            </div>
		                        </div>
		        		<div class="cleared"></div>
		            </div>
		        </div>
			</td>
		{% endfor %}
	</tr>
</table>
{% endblock %}
