<head>
	<title>{{ user.name }}</title>
	</head>

<body>
	<a href="/">Main</a> <a href="/categories/">Categories</a><br><br>
	
	<b>Username:</b> {{ user.username }}<br>
	<b>Email:</b> {{ user.email }}<br>
	<b>Bets:</b> {{ bill.bets }}<br>
	<table>
		<tr>
			<b>My latest bids:</b><br>
			{% for bid in bids %}
			<li><a href="/products/{{bid.auction.product.id}}/">{{ bid.auction.product }}</a></li>
			{% endfor %}
		</tr>
		<tr>
			<b>Auctions I've won:</b><br>
			{% for auc in auc_won %}
			<li><a href="/products/{{auc.product.id}}/">{{ auc.product.name }}</a> <a href="/buy/{{ auc.id }}/">Get it!</a></li>
			{% endfor %}
		</tr>
	</table>
</body>
